@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student Exercises</h1>
    <p>Click through the different pages to see the <a href="https://github.com/nashville-software-school/bangazon-inc/blob/master/book-3-workforce/chapters/STUDENT_EXERCISES_WEBAPP.md">student exercise assignment.</a></p>
</div>
